# Decision tree  Regressor

In [6]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import matplotlib.pyplot as plt # for data visualization purposes
import seaborn as sns # for statistical data visualization
%matplotlib inline

c:\users\manzoor\anaconda3\envs\venv\lib\importlib\_bootstrap.py:219: RuntimeWarning: numpy.ufunc size changed, may indicate binary incompatibility. Expected 192 from C header, got 216 from PyObject
  return f(*args, **kwds)
c:\users\manzoor\anaconda3\envs\venv\lib\importlib\_bootstrap.py:219: RuntimeWarning: numpy.ufunc size changed, may indicate binary incompatibility. Expected 192 from C header, got 216 from PyObject
  return f(*args, **kwds)

In [67]:
df=pd.read_csv('F:/GitHub/Machine-Learning/Decision Tree/Salaries.csv')
df.head()

c:\users\manzoor\anaconda3\envs\venv\lib\site-packages\IPython\core\interactiveshell.py:3018: DtypeWarning: Columns (3,4,5,6,12) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411,0,400184,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966,245132,137811,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739,106088,16452.6,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916,56120.7,198307,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134402,9737,182235,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN

In [68]:
df.replace(to_replace='Not Provided', value=np.nan, inplace=True)
df=df.dropna(subset=['BasePay'])

In [69]:
X=df[['BasePay', 'OtherPay']]
y=df[['TotalPay']]
X.shape

(148045, 2)

In [70]:

y.shape

(148045, 1)

In [71]:
#separate test and train
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size =0.25, random_state = 123)

# check the shape of X_train and X_test
X_train.shape, X_test.shape

((111033, 2), (37012, 2))

In [63]:
from sklearn.tree import DecisionTreeRegressor

In [72]:
regressor = DecisionTreeRegressor(random_state=0)
regressor=regressor.fit(X_train,y_train)

In [73]:
y_pred=regressor.predict(X_test)

In [81]:
from sklearn.metrics import mean_squared_error, r2_score
print(mean_squared_error(y_test, y_pred))
print (r2_score(y_test,y_pred))

162836511.05098525
0.9354832015349333